.ResultItem {
  width: 80%;
  min-height: 70px;
  border: 1px var(--result-btn-color) solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.ResultItem div {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  margin: 10px;
}

.ResultItem a:first-child {
  flex-basis: 65%;
  text-align: left;
}

.ResultItem div:last-child {
  /* flex-basis: 10%; */
}

.ResultItem button {
  background-color: var(--result-btn-color);
  border: none;
  min-width: 145px;
  border-radius: 5px;
  color: white;
  padding: 7px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 5px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.ResultItem button:hover {
  background-color: var(--result-btn-color-hover);
}

.fa-star {
  /* color: grey; */
}

.checked {
  color: orange;
}
