.ResultItem {
  width: 80%;
  min-height: 70px;
  border: 1px #eaedf5 solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: #ffffff;
}

.ResultItem div {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  margin: 10px;
}

.ResultItem a:first-child {
  flex-basis: 60%;
  text-align: left;
  color: #656775;
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.1px;
  line-height: 20px;
}

.ResultItem div:last-child {
  flex-basis: 10%;
}

.ResultItem button {
  background-color: #30b6dd;
  border: none;
  min-width: 155px;
  border-radius: 5px;
  color: white;
  padding: 7px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 5px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: "Source Sans Pro";
  font-size: 17px;
}

.ResultItem button:hover {
  background-color: var(--result-btn-color-hover);
}

.fa-star {
  /* color: grey; */
}

.ReviewWrapper {
  height: 23px;
  width: 72px;
  border-radius: 9px;
  background-color: #eaedf5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Review {
  color: #656775;
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
}
