header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 75px;
  background-color: #51b788;
}

.AppName {
  height: 36px;
  width: 250px;
  color: #adfcd7;
  font-family: "Source Sans Pro";
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  position: absolute;
  left: 20px;
  text-align: left;
}

.PageTitle {
  /* width: 70%;
  position: absolute;
  left: 300px; */
  font-size: 15px;
}

h2 {
  justify-self: center;
  margin: 0 auto;
  color: white;
  font-family: "Source Sans Pro";
}